<!DOCTYPE html>
<html>

<head>
    <title>Comic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .hidden-button {
            display: none;
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Notification</h1>
        <hr>
        <h2>Danh sách thông báo</h2>
        <div class="table-data">
            <div class="order">

                <table>
                    <thead>
                        <tr>
                            <th style="text-align: center;">title</th>
                            <th style="text-align: center;">content</th>
                            <th style="text-align: center;">chi tiết</th>
                            <th style="text-align: center;">nút</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each notification}}
                        <tr>
                            <td style="text-align: center;" class="titleCell">{{this.title}}</td>
                            <td style="text-align: center;">{{this.content}}</td>
                            <td>
                                <button class="btn btn-info manga-detail-button" data-manga-id="{{this.mangaId}}">Chi
                                    tiết</button>
                                <!-- MODAL CHI TIẾT THÊM TRUYỆN -->
                                <div class="modal fade" id="mangaDetailModal" tabindex="-1" role="dialog"
                                    aria-labelledby="mangaDetailModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="mangaDetailModalLabel">Thông tin chi tiết
                                                    truyện</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Hiển thị toàn bộ thông tin chi tiết truyện trong modal -->
                                                <p id="mangaDetailmanganame"></p>
                                                <img id="mangaDetailImage" style="max-width: 100%;" alt="Ảnh truyện">
                                                <p id="mangaDetailContent"></p>
                                                <p id="mangaDetailAuthor"></p>
                                                <!-- Các trường thông tin khác nếu có -->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- MODAL CHI TIẾT SỬA TRUYỆN -->
                                <button class="btn btn-info mangasua-detail-button" data-manga-id="{{this.mangaId}}">Chi
                                    tiết</button>
                                <!-- MODAL CHI TIẾT THÊM CHAP -->
                                <button class="btn btn-info chap-detail-button" data-manga-id="{{this.mangaId}}">Chi
                                    tiết</button>
                                <!-- MODAL CHI TIẾT SỬA CHAP -->
                                <button class="btn btn-info chapsua-detail-button" data-manga-id="{{this.mangaId}}">Chi
                                    tiết</button>
                            </td>
                            <td>
                                <form style="margin-top: 10dp;" action="/approveManga/{{this.mangaId}}"
                                    onclick="return confirm('Duyệt nha ?')" method="post">
                                    <button class="btn btn-info approveMangaButton"
                                        style="width: 100px; height:30px;  margin-top: 5px; background-color:#1E90FF ; border: none; border-radius: 5px; color: white; font-size: 10px"
                                        type="submit">Duyệt thêm truyện</button>
                                </form>
                                <form style="margin-top: 10dp;" action="/approvechap/{{this.mangaId}}"
                                    onclick="return confirm('Duyệt nha ?')" method="post">
                                    <button class="btn btn-info approveChapButton"
                                        style="width: 100px; height:30px;  margin-top: 5px; background-color:#1E90FF ; border: none; border-radius: 5px; color: white; font-size: 10px"
                                        type="submit">Duyệt thêm chap</button>
                                </form>
                                <form style="margin-top: 10dp;" action="/approvesuatruyen/{{this.mangaId}}/{{this._id}}"
                                    onclick="return confirm('Duyệt nha ?')" method="post">
                                    <button class="btn btn-info approvesuatruyen"
                                        style="width: 100px; height:30px;  margin-top: 5px; background-color:#1E90FF ; border: none; border-radius: 5px; color: white; font-size: 10px"
                                        type="submit">Duyệt sửa truyện</button>
                                </form>
                                <form style="margin-top: 10dp;" action="/approvesuachap/{{this.mangaId}}/{{this._id}}"
                                    onclick="return confirm('Duyệt nha ?')" method="post">
                                    <button class="btn btn-info approvesuachap"
                                        style="width: 100px; height:30px;  margin-top: 5px; background-color:#1E90FF ; border: none; border-radius: 5px; color: white; font-size: 10px"
                                        type="submit">Duyệt sửa chap</button>
                                </form>
                                <script>

                                    const approveMangaButtons = document.querySelectorAll('.approveMangaButton');
                                    const approveChapButtons = document.querySelectorAll('.approveChapButton');
                                    const approvesuatruyen = document.querySelectorAll('.approvesuatruyen');
                                    const approvesuachap = document.querySelectorAll('.approvesuachap');
                                    const titleCells = document.querySelectorAll('.titleCell');
                                    const mangaSuaDetailButtons = document.querySelectorAll('.mangasua-detail-button');
                                    const mangaDetailButtons = document.querySelectorAll('.manga-detail-button');
                                     const chapSuaDetailButtons = document.querySelectorAll('.chapsua-detail-button');
                                    const chapDetailButtons = document.querySelectorAll('.chap-detail-button');

                                    approveMangaButtons.forEach((button, index) => {
                                        const title = titleCells[index].textContent.trim();
                                        if (title === 'Duyệt thêm chap' || title === 'Duyệt sửa truyện' || title === 'Duyệt sửa chap') {
                                            button.style.display = 'none';
                                        }
                                    });

                                    approveChapButtons.forEach((button, index) => {
                                        const title = titleCells[index].textContent.trim();
                                        if (title === 'Duyệt thêm truyện' || title === 'Duyệt sửa truyện' || title === 'Duyệt sửa chap') {
                                            button.style.display = 'none';
                                        }
                                    });

                                    approvesuatruyen.forEach((button, index) => {
                                        const title = titleCells[index].textContent.trim();
                                        if (title === 'Duyệt thêm truyện' || title === 'Duyệt thêm chap' || title === 'Duyệt sửa chap') {
                                            button.style.display = 'none';
                                        }
                                    });
                                    approvesuachap.forEach((button, index) => {
                                        const title = titleCells[index].textContent.trim();
                                        if (title === 'Duyệt thêm truyện' || title === 'Duyệt thêm chap' || title === 'Duyệt sửa truyện') {
                                            button.style.display = 'none';
                                        }
                                    });

                                    mangaSuaDetailButtons.forEach((button, index) => {
                                        const title = titleCells[index].textContent.trim();
                                        if (title === 'Duyệt thêm truyện' || title === 'Duyệt thêm chap' || title === 'Duyệt sửa chap') {
                                            button.style.display = 'none';
                                        }
                                    });

                                    mangaDetailButtons.forEach((button, index) => {
                                        const title = titleCells[index].textContent.trim();
                                        if (title === 'Duyệt thêm chap' || title === 'Duyệt sửa truyện' || title === 'Duyệt sửa chap') {
                                            button.style.display = 'none';
                                        }
                                    });
                                      chapSuaDetailButtons.forEach((button, index) => {
                                        const title = titleCells[index].textContent.trim();
                                        if (title === 'Duyệt thêm truyện' || title === 'Duyệt thêm chap' || title === 'Duyệt sửa truyện') {
                                            button.style.display = 'none';
                                        }
                                    });

                                    chapDetailButtons.forEach((button, index) => {
                                        const title = titleCells[index].textContent.trim();
                                        if (title === 'Duyệt thêm truyện' || title === 'Duyệt sửa truyện' || title === 'Duyệt sửa chap') {
                                            button.style.display = 'none';
                                        }
                                    });
                                </script>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>

                </table>
            </div>
        </div>


    </div>
    <script>

        function mangasua() {
            const mangaSuaDetailButtons = document.querySelectorAll('.mangasua-detail-button');

            mangaSuaDetailButtons.forEach(button => {

                button.addEventListener('click', function (event) {
                    const mangaId = this.getAttribute('data-manga-id');
                    fetch(`/manganotifysua/${mangaId}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data) {
                                // Hiển thị thông tin chi tiết sửa truyện trong modal
                                document.getElementById('mangaSuaDetailImage').src = data.pendingChanges.content;
                                document.getElementById('mangaSuaDetailContent').textContent = `Nội dung : ${data.pendingChanges.content}`;
                                document.getElementById('mangaSuaDetailAuthor').textContent = `Tác giả : ${data.pendingChanges.author}`;
                                document.getElementById('mangaDetailmanganame').textContent = `${data.pendingChanges.manganame}`;
                                // Các trường thông tin khác nếu có

                                // Kích hoạt modal
                                $('#mangaSuaDetailModal').modal('show');
                            } else {
                                alert('Không có thông tin chi tiết sửa cho truyện này.');
                            }
                        })
                        .catch(error => {
                            console.error('Lỗi khi lấy chi tiết sửa truyện:', error);
                            alert('Đã xảy ra lỗi khi lấy chi tiết sửa truyện.');
                        });
                });
            });
        }

        function setupMangaPage() {
            const mangaDetailButtons = document.querySelectorAll('.manga-detail-button');

            mangaDetailButtons.forEach(button => {

                button.addEventListener('click', function (event) {
                    const mangaId = this.getAttribute('data-manga-id');
                    fetch(`/manganotifi/${mangaId}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data) {
                                // Hiển thị thông tin chi tiết truyện trong modal
                                document.getElementById('mangaDetailImage').src = data.image;
                                document.getElementById('mangaDetailContent').textContent = `Nội dung: ${data.content}`;
                                document.getElementById('mangaDetailAuthor').textContent = `Tác giả: ${data.author}`;
                                document.getElementById('mangaDetailmanganame').textContent = `${data.manganame}`;
                                // Các trường thông tin khác nếu có

                                // Kích hoạt modal
                                $('#mangaDetailModal').modal('show');
                            } else {
                                alert('Không có thông tin chi tiết cho truyện này.');
                            }
                        })
                        .catch(error => {
                            console.error('Lỗi khi lấy chi tiết truyện:', error);
                            alert('Đã xảy ra lỗi khi lấy chi tiết truyện.');
                        });
                });
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            setupMangaPage();
            mangasua();
        }); 
    </script>
</body>

</html>